---
layout: barefooter
permalink: /
title: A Notebook of Xiaodong Qi's
subtitle: 戚晓东的研习笔记
description: Xiaodong Qi's NoteBlogs and CV. Mostly relates to his research done at the Center for Quantum Information and Control (CQuIC), University of New Mexico.
---

<div class="row">
 <!-- <span> -->
 <div class="col-md-6 col-sm-12" style="text-align:center;" >
  <div class="col-md-10 col-sm-11 col-md-offset-1">
      <a class="btn btn-primary btn-lg btn-block" style="font-weight:bold;" href="/en/" role="button">English Site</a>
  </div>
  <br />
  <div class="col-md-10 col-sm-11 col-md-offset-1">
    <p />
    <p>The CV of Xiaodong Qi and one of his scholar notebook in doing academic research.
      Everything is citable using the permanent URL at <a href="//purl.org/qxd/">https://purl.org/qxd/</a>.</p>
  </div>
  <br />
  <div class="col-md-10 col-sm-11 col-md-offset-1" style="text-align:center; align:center;">
    <div style="font-weight:bold; text-align:center;font-size:1.2em;">
     <i class="glyphicon glyphicon-chevron-left"></i> <a href="/en/archives.html">Archives by date, </a>
     <i class="glyphicon glyphicon-list"></i> <a href="/en/categories.html">by category, </a>
     <i class="glyphicon glyphicon-tag"></i> <a href="/en/tags.html">by tag</a>
    </div>
  </div>
     <br>
  <div class="row">
    <!--<div class="col-md-4 col-sm-3">
      <div class="row">
        <ul class="unstyled">
          <li style="margin:-10px"> <img alt="QR Code" src="{{ site.baseurl }}/assets/img/qrcode.33561508.png" align="left"></li>
        </ul>
      </div>
      <div class="row">Scan to load on your mobile device.</div>
    </div>-->
    <div class="col-md-11 col-sm-11" style="text-align:center;">
        <br>
       <p style="text-align:center; align:center;font-size:1.2em"><a href="{{ site.baseurl }}/CV-XiaodongQi.pdf" onclick="var that=this;
       _gaq.push(['_trackEvent','Download','PDF',this.href]);
       setTimeout(function(){location.href=that.href;},200);
       return false;" class = "btn btn-default"><i class="fa fa-file-text-o fa-1x"></i>My CV in PDF.</a></p>
        <br>
       <div class="row">
        <ul class="unstyled" style="font-size:1.2em;line-height:1.5em; ">
          <li style="margin:-6px"> Office: 30 Physics and Astronomy Department</li>
          <li style="margin:-6px">         1919 Lomas Blvd NE, Albuquerque, NM 87131, USA</li>
          <li style="margin:-6px"> </li>
        </ul>
       </div>
        <br>
       <div class="col-md-12 col-sm-12" style="margin-left:-5px">
           {% include socialbuttons_nostackexchangephy_nostarcount.html %}
       </div>
     <!-- <br><br><br> -->
    </div>
    <!-- Add the extra clearfix for only the required viewport -->
    <div class="clearfix visible-sm-block visible-md-block"></div>
  </div>
 </div>
 <!-- </span> -->


 <div class="col-md-6 col-sm-12" style="text-align:center;">
  <div class="row">
    <div class="col-md-11 col-sm-12">
      <div class="col-md-10 col-sm-11">
        <a class="btn btn-success btn-lg btn-block" style="font-weight:bold;" href="/cn/" role="button">中文站点</a>
      </div>
      <br />
      <div class="col-md-10 col-sm-11">
        <p />
        <p>戚晓东的履历和学术笔记。如需引用可以使用永久链接地址<a href="//purl.org/qxd/">https://purl.org/qxd/</a>.
          中文网站正在更新中。详细项目追踪见<a href="https://github.com/i2000s/cn/projects/1">这里</a>。</p>
      </div>
      <br />
      <div class="col-md-10 col-sm-11">
        <div style="font-weight:bold; text-align:center;font-size:1.2em;">
         <i class="glyphicon glyphicon-chevron-left"></i> <a href="/cn/archives.html">文档, </a>
         <i class="glyphicon glyphicon-list"></i> <a href="/cn/categories.html">目录, </a>
         <i class="glyphicon glyphicon-tag"></i> <a href="/cn/tags.html">标签</a>
        </div>
      </div>
    </div>
    <br />
   <div class="team-member col-md-7 col-sm-8" style="text-align:center;">
    <img class="img-responsive img-circle" alt="" src="{{ site.baseurl }}/assets/img/qi2016.jpg" align="right" width=200px>
   </div>
  </div>

     <br>

     <!-- <a class="twitter-timeline" href="https://twitter.com/{{site.author.twitter}}" data-widget-id="704862944484421633" data-chrome="transparent noborders noscrollbar" height="350px">Tweets by @{{site.author.twitter}}</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    -->
 </div>
</div>
<!-- Add the extra clearfix for only the required viewport -->
<div class="clearfix visible-md-block"></div>
<hr>
<div class="row" style="margin:-10px 0 10px; text-align:center; align:center; vertical-align:middle; clear:both;">
  <!-- <div class="span12" align="center" vertical-align="middle"> -->
  <a rel="license" href="https://creativecommons.org/licenses/by/4.0/">
        <span align="center" margin-top="-10px">Copyright &copy; {{ site.time | date: "%Y" }} {{ site.author.name }} under the Creative Commons Attribution License or otherwise specified. </span></a>
  {% if site.repo %}<iframe class="github-btn" src="//ghbtns.com/github-btn.html?user={{site.orgname}}&repo={{site.repo}}&type=star&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="90px" height="40px" style="vertical-align:middle; margin-top:17px;"></iframe>{% endif %}
  {% include coins.html %}
  <!-- </div> -->
  <br>
</div>
